.about-container {
    overflow: hidden;
    padding: 3rem 1rem;
    .about {
        width: 35%;
        h2 {
            margin-top: 0.6em;
            padding: 0%;
            color: $clr1;
        }
        h3 {
            font-family: Spartan-Regular;
            margin-top: 0.56rem;
        }
        h4 {
            margin: 0.2rem 0;
            color: $clr5;
        }
        .img-container {
            img {
                width: 12rem;
                height: auto;
                border-radius: 100%;
            }
        }
        @include for-mobile-layout {
            width: 100%;
        }
    }
    .about-info {
        width: 65%;

        h2 {
            padding-left: 0;
        }
        p {
            color: $clr3;
            font-size: 18px;
        }
        .btn-container {
            justify-content: flex-start;
            .about-btn {
                border: $clr3 solid 0.1rem;
                margin-right: 1.2rem;
            }
            @include for-mobile-layout {
                margin-top: 1.75rem;
                .about-btn{
                    margin:0; 
                    font-size: 0.75rem;
                }
            }

        }
        @include for-mobile-layout {
            margin-top: 1.75rem;
            width: 100%;
        }
    }

    @include for-mobile-layout {
        flex-direction: column;
        padding-top: 0;
        text-align: center;
    }

}
