
.hero-container {
    background-image:url("../../imgs/bgc-portfolio.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 400px;
    width:960px;
    margin:0 auto; 
    @include for-mobile-layout{
        width:480px;
        background-position: inherit;
        h1{
            margin:0; 
            font-size: 30px;
        }
    } 
    .text-section{
        @include for-mobile-layout{
            margin: 0 auto;
         } 
        p{
            font-size: 24px;
           
        }
    }
    .bella{
        padding-top: 50px;
        @include for-mobile-layout{
            padding:30px 0px;
            font-size: 36px;; 
         } 
    }

    .hero-cover{
        width:70%; 
        @include for-mobile-layout{
           display: none;
        } 

    }
    .hero-btn{
        background-color:$clr2 ;
        border:0; 
        width:100%; 
        padding: 0 25px;
        line-height: 2rem;
        font-family: Spartan-SemiBold;
        a{
            color:$clr3; 
        }
        &:hover{
            background-color:$clr1;
            border-radius: 2em;
            transition: all .6s;
            a{
                color:$clr2; 
            }

        }
    }

}


// .grid{
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(200px, auto));
//     grid-auto-rows: auto;
//     grid-column: 2/-1;
// }
