.project-card {
    @include aspect-ratio(1, 1);
    color: $clr4;
    background-color: $clr1;
    .project-image {
        mix-blend-mode: overlay;
        filter: grayscale(1);
    }

    h2 {
        color: $clr2;
        cursor: pointer;
    }
}
