.project-card {
    @include aspect-ratio(1, 1);
    background-color: $clr1;
    transition: color 1s, background-color 1s, border 1s;

    &:hover {
        border: $clr1 10px solid;
        background-color: $clr3;
        color: $clr2;
    }
    .card {
        .card-title{
            padding:200px; 
            color: $clr2;
            font-family: Spartan-SemiBold;
            line-height: 1;
            font-size: 1.5em;
            font-weight: 400;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                font-family: BlackJack;
                text-transform: lowercase;
                font-size: 40px;
                line-height: 1;
                font-weight: 800;
            }
        }
    }
}

// .project-card {
//     .project-image {
//         mix-blend-mode: overlay;
//         filter: grayscale(1);
//     }
// }
