.container {
    max-width: 800px;
    margin: 0 auto;

}

.section-border {
    width: 6rem;
    border-top: 1px solid white;
}


.mobile-menu{
    display:none; 
    @include for-mobile-layout{
        display:block; 
     }
}




