.container {
    max-width: 960px;
    margin: 0 auto;
    @include for-mobile-layout{
        width:350px; 
        margin:0 auto; 
        padding:0; 
     }

}

.section-border {
    width: 6rem;
    border-top: 1px solid white;
}


.mobile-menu{
    display:none; 
    @include for-mobile-layout{
        display:block; 
     }
}




