// ** Pallette ** //

$clr1:#6cefd7; 
$clr2:#1f1f1f; 
$clr3:#ffffff; 
$clr4:#303030; 
$clr5:#818284; 
$clr6:#dddddd; 


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

